* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #700611;
}

body {
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



video {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .balancing-element {
        width: 100%;
        height: 100%;
    }
}


@keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }




